*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #ffff;
}
:root{
    --primary-color: black; /*linear-gradient(174.44deg, rgba(11, 11, 11, 0.95) -0.36%, rgba(13, 13, 13, 0.855) 104.09%)*/
    --secondary-color: #ffff;
}
body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer" ;
    grid-template-rows: auto 1fr 162px;
    background-image: linear-gradient(to right, var(--primary-color)26.5%, var(--secondary-color)25%);
}
header{
    grid-area: header;
    grid-template-areas: 
        "logo menu icon";
    grid-template-columns: auto 1fr auto;
    display: grid;
    padding: 0px 44px;    
}
main{
    grid-area: main;
    grid-template-areas: 
        "imagem texto";
    grid-template-columns: auto 1fr;
    padding-left: 250px;
    display: grid;
}
.menu{
    grid-area: menu;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    gap: 66px;
    font-family: 'Inter';
    font-weight: 400;
}
.icon{
    grid-area: icon;
    place-self: center;
}
.icone{
    justify-content: center;
    place-self: center;
    background: black;
    border-radius: 50%;
    height: 60px;
    width: 55px;
    padding-top: 5px;
}
.circulo{
    grid-area: imagem;
    align-self: center;
    background: linear-gradient(179.96deg, #9C0610 0.04%, #CF5C55 99.96%);
    height: 500px;
    width: 500px;
    border-radius: 50%;
    box-shadow: 73px 8px 38px -10px rgba(189, 63, 61, 0.42);
}
.shoe{
    width:557px;
    height: 500px;
    padding-right: 80px;
   /* transform: rotate(10deg);*/
}
.texto{
    padding: 0 300px;
    display: grid; 
}
.titulo{
    font-size: 1.5rem;
    font-family: 'Inter';
    font-weight: 400;
}
.sub-titulo{
    font-size: 4rem;
    letter-spacing: 0.5em;
    font-family: 'Inter';
    font-weight: 900;
}
.descricao{
    font-size: 1.4rem;
    font-family: 'Inter';
    font-weight: 400;
}
.botao{
    background: #0B0B0B;
    border-radius: 100px;
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
footer{
    grid-area: footer;
    grid-template-areas: 
        "letras nike";
    display: grid;
    grid-template-columns: auto 1fr;
}
.letras{
    grid-area: letras;
    place-self: center;
    font-size: 1.5rem;
    display: flex;
    gap: 33px;
    padding-left: 58px;
    color: white;
    font-family: 'Inter';
    font-weight: 400;  
}
.nike{
    grid-area: nike;
    place-self: center;   
}