*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer" ;
    grid-template-rows: auto 1fr 100px;
    background-color: blueviolet;
}
header{
    grid-area: header;
    grid-template-areas: 
        "logo menu icon";
    grid-template-columns: auto 1fr auto;
    display: grid;
    padding: 0px 44px;
    
}main{
    grid-area: main;
    grid-template-areas: 
        "image text";
    grid-template-columns: auto 1fr;
    padding-left: 250px;
    display: grid;
}
footer{
    grid-area: footer;
    background-color: tomato;
}
.menu{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    gap: 44px;
}
.icon{
    place-self: center;
}
.circulo{
    align-self: center;
    background: linear-gradient(179.96deg, #9C0610 0.04%, #CF5C55 99.96%);
    height: 500px;
    width: 500px;
    border-radius: 50%;
    box-shadow: 73px 8px 38px -10px rgba(189, 63, 61, 0.42);
}
.shoe{
    width:557px;
    height: 500px;
    padding-right: 80px;
   /* transform: rotate(10deg);*/

}